<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".RetrofitTest"></activity>
        <activity android:name=".BasicHomePageActivity2" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsActivity" />
        <activity android:name=".ClubActivities" />
        <activity android:name=".UserDataActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ReceiptsActivity" />
        <activity android:name=".ConfirmPaymentActivity" />
        <activity android:name=".CreditCard1Activity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogInActivity" />
    </application>

</manifest>